In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dulieuxettuyendaihoc.csv",index_col="STT")

In [3]:
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [5]:
df.tail(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
91,8.1,7.7,9.1,8.5,6.1,8.6,8.8,7.3,8.8,8.3,...,8.3,8.7,7.8,M,NaN,2,6.25,4.00,6.50,A
92,7.8,6.5,6.7,5.4,6.2,4.8,5.9,4.4,8.9,6.9,...,7.2,7.4,7.0,M,NaN,2NT,4.75,4.75,4.50,A
93,5.0,6.6,6.5,7.2,5.8,6.7,6.4,6.0,6.8,6.1,...,5.9,6.7,5.8,M,NaN,1,3.25,5.25,4.25,A
94,5.2,5.2,6.8,7.9,6.6,8.9,7.6,5.3,6.8,5.8,...,8.7,7.8,5.0,M,NaN,1,3.50,4.25,5.00,A
95,5.8,5.9,7.6,6.1,5.3,8.1,6.1,5.0,6.4,7.2,...,7.3,6.8,5.3,M,NaN,1,4.25,2.50,4.75,A
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [6]:
#missing_data_count=df['DT'].isna().sum()
#print(f"\n so luong du lieu thieu trong cot'DT':{missing_data_count}")
df['DT'].fillna(0,inplace=False)#4

STT
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
      ...
96     0.0
97     0.0
98     0.0
99     0.0
100    0.0
Name: DT, Length: 100, dtype: float64

In [7]:
# muon thay doi du lieu goc inplace=True
#khong muon thay doi du lieu goc inplace=False
df['DT'].fillna(0,inplace=True)

In [8]:
missing_data_count_after = df ['DT'].isna().sum()
print(f"so luong du lieu thieu trong cot 'DT'sau khi dien gia tri 0:{missing_data_count_after}")

so luong du lieu thieu trong cot 'DT'sau khi dien gia tri 0:0

In [9]:
df["T1"].fillna(df["T1"].mean(),inplace=False) # 5

STT
1      7.2
2      5.4
3      5.6
4      6.6
5      6.0
      ...
96     8.6
97     3.7
98     8.8
99     2.7
100    4.1
Name: T1, Length: 100, dtype: float64

In [10]:
def fill(col):
    return df[col].fillna(df[col].mean(),inplace=False)

In [11]:
df.dtypes

T1     float64
L1     float64
H1     float64
S1     float64
V1     float64
X1     float64
D1     float64
N1     float64
T2     float64
L2     float64
H2     float64
S2     float64
V2     float64
X2     float64
D2     float64
N2     float64
T3     float64
L3     float64
H3     float64
S3     float64
V3     float64
X3     float64
D3     float64
N3     float64
T4     float64
L4     float64
H4     float64
S4     float64
V4     float64
X4     float64
D4     float64
N4     float64
T5     float64
L5     float64
H5     float64
S5     float64
V5     float64
X5     float64
D5     float64
N5     float64
T6     float64
L6     float64
H6     float64
S6     float64
V6     float64
X6     float64
D6     float64
N6     float64
GT      object
DT     float64
KV      object
DH1    float64
DH2    float64
DH3    float64
KT      object
dtype: object

In [12]:
is_float64 = df.dtypes == float
df_column_list = df.columns[is_float64].tolist()

In [13]:
df_column_list

['T1',
 'L1',
 'H1',
 'S1',
 'V1',
 'X1',
 'D1',
 'N1',
 'T2',
 'L2',
 'H2',
 'S2',
 'V2',
 'X2',
 'D2',
 'N2',
 'T3',
 'L3',
 'H3',
 'S3',
 'V3',
 'X3',
 'D3',
 'N3',
 'T4',
 'L4',
 'H4',
 'S4',
 'V4',
 'X4',
 'D4',
 'N4',
 'T5',
 'L5',
 'H5',
 'S5',
 'V5',
 'X5',
 'D5',
 'N5',
 'T6',
 'L6',
 'H6',
 'S6',
 'V6',
 'X6',
 'D6',
 'N6',
 'DT',
 'DH1',
 'DH2',
 'DH3']

In [14]:
for col in df_column_list:
    df[col].fillna(df[col].mean(),inplace=False)

In [15]:
df.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,0.0,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,0.0,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,0.0,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,0.0,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,0.0,2NT,4.25,4.50,5.00,A

In [16]:
df.isnull().values.any()

False

In [17]:
for i in ["1","2","6"]:
    print("TBM"+i)

TBM1
TBM2
TBM6

In [18]:
#(T*2+L+H+S+V*2+X+D+N) /10
for i in["1","2","6"]:
    df["TBM"+i] = (df["T"+i]*2+df["L"+i]+df["H"+i]+df["S"+i]+df["V"+i]*2+df["X"+i]+df["D"+i]+df["N"+i])/10

In [19]:
df.rename(columns={"TBM6":"TBM3"},inplace=False)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM3
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,F,0.0,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,M,0.0,1,6.00,4.00,3.50,C,4.69,5.47,5.07
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,M,0.0,1,5.00,6.75,4.00,C,5.77,5.38,6.04
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,M,0.0,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,M,0.0,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,F,0.0,1,5.25,1.50,6.25,C,7.43,7.42,6.83
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,F,0.0,1,5.25,3.75,4.75,C,4.93,5.15,6.39
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,M,0.0,2NT,7.00,8.00,4.00,C,7.05,7.84,7.67
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,M,0.0,1,5.00,3.50,5.50,C,4.15,4.72,5.29
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,M,0.0,2NT,5.25,2.50,4.25,C,5.26,5.72,5.85

In [20]:
df.head()

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,GT,DT,KV,DH1,DH2,DH3,KT,TBM1,TBM2,TBM6
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,F,0.0,2NT,3.25,3.25,4.50,A1,7.00,7.54,7.01
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,M,0.0,1,6.00,4.00,3.50,C,4.69,5.47,5.07
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,M,0.0,1,5.00,6.75,4.00,C,5.77,5.38,6.04
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,M,0.0,1,4.25,4.25,5.25,D1,6.21,5.20,6.88
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,M,0.0,2NT,4.25,4.50,5.00,A,6.50,6.36,6.99

In [23]:
df = pd.read_csv('dulieuxettuyendaihoc.csv')

In [25]:
print(df.columns)

Index(['STT', 'T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1', 'T2', 'L2', 'H2',
       'S2', 'V2', 'X2', 'D2', 'N2', 'T3', 'L3', 'H3', 'S3', 'V3', 'X3', 'D3',
       'N3', 'T4', 'L4', 'H4', 'S4', 'V4', 'X4', 'D4', 'N4', 'T5', 'L5', 'H5',
       'S5', 'V5', 'X5', 'D5', 'N5', 'T6', 'L6', 'H6', 'S6', 'V6', 'X6', 'D6',
       'N6', 'GT', 'DT', 'KV', 'DH1', 'DH2', 'DH3', 'KT'],
      dtype='object')

In [26]:
# TÃ­nh trung bÃ¬nh mÃ´n cho cÃ¡c nÄƒm lá»›p 10, 11 vÃ  12
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10
df['TBM2'] = (df['T2']*2 + df['L2'] + df['H2'] + df['S2'] + df['V2']*2 + df['X2'] + df['D2'] + df['N2']) / 10
df['TBM3'] = (df['T6']*2 + df['L6'] + df['H6'] + df['S6'] + df['V6']*2 + df['X6'] + df['D6'] + df['N6']) / 10

In [27]:
def xep_loai(tbm):
    if tbm < 5.0:
        return 'Y'
    elif 5.0 <= tbm < 6.5:
        return 'TB'
    elif 6.5 <= tbm < 8.0:
        return 'K'
    elif 8.0 <= tbm < 9.0:
        return 'G'
    else:
        return 'XS'

In [28]:
# Táº¡o cÃ¡c biáº¿n xáº¿p loáº¡i
df['XL1'] = df['TBM1'].apply(xep_loai)
df['XL2'] = df['TBM2'].apply(xep_loai)
df['XL6'] = df['TBM3'].apply(xep_loai)

In [30]:
# In káº¿t quáº£
print(df[['TBM1', 'XL1', 'TBM2', 'XL2', 'TBM3', 'XL6']])

    TBM1 XL1  TBM2 XL2  TBM3 XL6
0   7.00   K  7.54   K  7.01   K
1   4.69   Y  5.47  TB  5.07  TB
2   5.77  TB  5.38  TB  6.04  TB
3   6.21  TB  5.20  TB  6.88   K
4   6.50   K  6.36  TB  6.99   K
..   ...  ..   ...  ..   ...  ..
95  7.43   K  7.42   K  6.83   K
96  4.93   Y  5.15  TB  6.39  TB
97  7.05   K  7.84   K  7.67   K
98  4.15   Y  4.72   Y  5.29  TB
99  5.26  TB  5.72  TB  5.85  TB

[100 rows x 6 columns]

In [31]:
def xep_loai(tbm):
    if tbm < 5.0:
        return 'Y'
    elif 5.0 <= tbm < 6.5:
        return 'TB'
    elif 6.5 <= tbm < 8.0:
        return 'K'
    elif 8.0 <= tbm < 9.0:
        return 'G'
    else:
        return 'XS'

In [32]:
# Chuyá»ƒn Ä‘á»•i Ä‘iá»ƒm tá»« thang Ä‘iá»ƒm 10 sang thang Ä‘iá»ƒm 4 báº±ng phÆ°Æ¡ng phÃ¡p Min-Max Normalization
def min_max_normalization(tbm, min_old, max_old, min_new, max_new):
    return ((tbm - min_old) / (max_old - min_old)) * (max_new - min_new) + min_new

In [33]:
min_old, max_old = 0, 10  # Thang Ä‘iá»ƒm 10 cá»§a Viá»‡t Nam
min_new, max_new = 0, 4   # Thang Ä‘iá»ƒm 4 cá»§a Má»¹

In [34]:
df['US_TBM1'] = df['TBM1'].apply(min_max_normalization, args=(min_old, max_old, min_new, max_new))
df['US_TBM2'] = df['TBM2'].apply(min_max_normalization, args=(min_old, max_old, min_new, max_new))
df['US_TBM3'] = df['TBM3'].apply(min_max_normalization, args=(min_old, max_old, min_new, max_new))

In [35]:
print(df[['TBM1', 'US_TBM1', 'TBM2', 'US_TBM2', 'TBM3', 'US_TBM3']])

    TBM1  US_TBM1  TBM2  US_TBM2  TBM3  US_TBM3
0   7.00    2.800  7.54    3.016  7.01    2.804
1   4.69    1.876  5.47    2.188  5.07    2.028
2   5.77    2.308  5.38    2.152  6.04    2.416
3   6.21    2.484  5.20    2.080  6.88    2.752
4   6.50    2.600  6.36    2.544  6.99    2.796
..   ...      ...   ...      ...   ...      ...
95  7.43    2.972  7.42    2.968  6.83    2.732
96  4.93    1.972  5.15    2.060  6.39    2.556
97  7.05    2.820  7.84    3.136  7.67    3.068
98  4.15    1.660  4.72    1.888  5.29    2.116
99  5.26    2.104  5.72    2.288  5.85    2.340

[100 rows x 6 columns]

In [37]:
print(df[['US_TBM1', 'XL1', 'US_TBM2', 'XL2', 'US_TBM3', 'XL6']])

    US_TBM1 XL1  US_TBM2 XL2  US_TBM3 XL6
0     2.800   K    3.016   K    2.804   K
1     1.876   Y    2.188  TB    2.028  TB
2     2.308  TB    2.152  TB    2.416  TB
3     2.484  TB    2.080  TB    2.752   K
4     2.600   K    2.544  TB    2.796   K
..      ...  ..      ...  ..      ...  ..
95    2.972   K    2.968   K    2.732   K
96    1.972   Y    2.060  TB    2.556  TB
97    2.820   K    3.136   K    3.068   K
98    1.660   Y    1.888   Y    2.116  TB
99    2.104  TB    2.288  TB    2.340  TB

[100 rows x 6 columns]

In [45]:
def xet_tuyen(DH1, DH2, DH3, KT):
    if KT in ['A', 'A1']:
        score = (DH1*2 + DH2 + DH3) / 4
    elif KT == 'B':
        score = (DH1 + DH2*2 + DH3) / 4
    else:
        score = (DH1 + DH2 + DH3) / 3
    
    return 1 if score >= 5.0 else 0

In [46]:
df['KQXT'] = df.apply(lambda row: xet_tuyen(row['DH1'], row['DH2'], row['DH3'], row['KT']), axis=1)

In [50]:
print(df[['DH1', 'DH2', 'DH3', 'KT', 'KQXT']])

     DH1   DH2   DH3  KT  KQXT
0   3.25  3.25  4.50  A1     0
1   6.00  4.00  3.50   C     0
2   5.00  6.75  4.00   C     1
3   4.25  4.25  5.25  D1     0
4   4.25  4.50  5.00   A     0
..   ...   ...   ...  ..   ...
95  5.25  1.50  6.25   C     0
96  5.25  3.75  4.75   C     0
97  7.00  8.00  4.00   C     1
98  5.00  3.50  5.50   C     0
99  5.25  2.50  4.25   C     0

[100 rows x 5 columns]

In [48]:
# LÆ°u trá»¯ dá»¯ liá»‡u xuá»‘ng á»• Ä‘Ä©a thÃ nh file CS
df.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)